<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @group_user.group %>
</p>

<p>
  <strong>User:</strong>
  <%= @group_user.user %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @group_user.manager %>
</p>

<%= link_to 'Edit', edit_group_user_path(@group_user) %> |
<%= link_to 'Back', group_users_path %>
