<div class="well">
<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, hint: t('group_hint') %>
    <%= f.association :users, hint: t('group_users_hint') %>
    <%= f.association :managers, hint: t('group_manager_hint') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
