<p id="notice"><%= notice %></p>

<p>
  <strong><%= @group.name.humanize %>:</strong>
  <%= @group.name %>
</p>

<p>
  <strong><%= @group.creator.humanize %>:</strong>
  <%= @group.creator.name %>
</p>

<%= link_to t('create_pad'), new_group_pad_path(@group) %> |
<%= link_to t('edit'), edit_group_path(@group) %> |
<%= link_to t('show'), groups_path %>

<%= render partial: 'pads/padlist' %>
