<%= simple_form_for([@group, @pad]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, hint: 'History will be lost on changing this' %>
    <%= f.input :password, input_html: { value: @pad.password } %>
    <%= f.input :is_public %>
    <%= f.input :is_public_readonly %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% unless @pad.new_record? %>
  <%= simple_form_for([@group, @pad]) do |f| %>
    <div class="form-inouts">
      <%= f.input :wiki_page %>
      <%= f.input(:delete_ep_pad, as: :radio_buttons) %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Save to Wiki' %>
    </div>
  <% end %>
<% end %>
