<div class="well">
<%= simple_form_for([@group, @pad]) do |f| %>
  <%= f.error_notification %>
  <%
    options = []
    options << [t('public_closed'), 'closed']
    options << [t('public_readonly'), 'read'] unless @pad.was_public_writeable
    options << [t('public_write'),'write']
  %>
  <div class="form-inputs">
    <%= f.input :name, hint: t('rename_hint') %>
    <%= f.input :password,
                input_html: { value: @pad.password },
                hint: t('pad_password_hint') %>
    <%= f.input :options,
        label: t('public_status_label'),
        hint: t('pad_options_hint'),
        as: :radio_buttons,
        collection: options
    %>
  </div>

  <% unless @pad.new_record? %>
      <%
          wiki_page_hint = t('wiki_page_hint_none')
          wiki_page_hint = link_to t('wiki_page_hint'), @pad.wiki_url  unless @pad.wiki_url.nil?
      %>
      <%= f.input :wiki_page, hint: wiki_page_hint %>
      <%= f.input(:delete_ep_pad,
                  label: t('delete_pad_label'),
                  as: :radio_buttons,
                  hint: t('delete_pad_hint')) %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>