<%= simple_form_for([@group, @pad]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, hint: 'History will be lost on changing this' %>
    <%= f.input :password, input_html: { value: @pad.password }, hint: 'Password protect this Pad, empty for no password' %>
      <%= f.input :options, label: 'Public Status', hint: 'Set the Pad options', as: :radio_buttons, collection: [['Closed', 'closed'] ,['Public Readonly', 'read'], ['Public Write','write']] %>
  </div>

  <% unless @pad.new_record? %>
      <%= f.input :wiki_page, hint: 'The target Wikipage for this Pad' %>
      <%= f.input(:delete_ep_pad, label: 'Delete Pad?', as: :radio_buttons, hint: 'It will be LOST if choosing yes!') %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

