<%
if pad.group.name == t(ENV['UNGROUPED_NAME'])
  pad_title = pad.name
else
  pad_title = pad.group.name+'/'+pad.name
end
%>
<tr>
  <td>
    <%= link_to pad_title, "/p/#{pad_title}" %>
  </td>
  <td><%= pad.creator.nickname rescue 'unknown' %></td>
  <td><%= pad.created_at %></td>
  <td><%= pad.updated_at %></td>

  <td><%= link_to(t('settings_link'), edit_group_pad_path(pad.group, pad)) if can? :update, pad %></td>
  <td><%= link_to(t('delete_link'), group_pad_path(pad.group, pad), method: :delete, data: {confirm: t('are_you_sure')}) if can? :destroy, pad %></td>
</tr>