<div class="row">
  <% if @pads.blank? %>
      <div class="span6 offset3">
        <p class="center"><%= t('no_viewable_pads') %></p>
      </div>
  <% else %>
      <div class="span12">
        <table class="table table-condensed table-striped table-hover sortable">
          <thead>
          <tr>
            <th><%= sortable 'name', t('name') %></th>
            <th><%= sortable 'users-name', t('creator') %></th>
            <th><%= sortable 'created_at', t('created_at') %></th>
            <th><%= sortable 'updated_at', t('edited_at') %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @pads.each do |pad| %>
              <% current_ability(pad.group, pad) %>
              <% if can? :read, pad %>
                  <tr>
                    <td>
                      <%= link_to pad.name, '/p/'+pad.group.name+'/'+pad.name if pad.group.name != 'ungrouped' %>
                      <%= link_to pad.name, '/p/'+pad.name if pad.group.name == 'ungrouped' %>
                    </td>
                    <td><%= pad.creator.nickname rescue 'unknown' %></td>
                    <td><%= pad.created_at %></td>
                    <td><%= pad.updated_at %></td>

                    <td><%= link_to(t('settings_link'), edit_group_pad_path(pad.group, pad)) if can? :update, pad %></td>
                    <td><%= link_to(t('delete_link'), group_pad_path(pad.group, pad), method: :delete, data: {confirm: t('are_you_sure')}) if can? :destroy, pad %></td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
  <% end %>
</div>
<% if can? :create, Pad %>
    <div class="row">
      <div class="span12">
        <%= link_to(t('new_pad_link'), new_group_pad_path(@group)) %>
      </div>
    </div>
<% end %>
