<table class="table table-striped table-hover sortable">
  <thead>
    <tr>
      <th><%= sortable 'name', t('name') %></th>
      <th><%= sortable 'users-name', t('creator') %></th>
      <th><%= sortable 'created_at', t('created_at') %></th>
      <th><%= sortable 'updated_at', t('edited_at') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pads.each do |pad| %>
      <% fetch_ep_last_edited(pad) %>
      <tr>
        <td>
          <%= link_to pad.name, '/p/'+pad.group.name+'/'+pad.name if @group.name != 'ungrouped' %>
          <%= link_to pad.name, '/p/'+pad.name if @group.name == 'ungrouped' %>
        </td>
        <td><%= pad.creator.name rescue 'unknown' %></td>
        <td><%= pad.created_at %></td>
        <td><%= pad.updated_at %></td>
        
        <td><%= link_to t('settings_link'), edit_pad_path(pad) %></td>
        <td><%= link_to t('delete_link'), pad, method: :delete, data: { confirm: t('are_you_sure')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_pad_link'), new_group_pad_path(@group) %>
