<h1><%= t('edit_pad_header') %></h1>

<%= render 'form' %>

<% if @pad.group.name == 'ungrouped' %>
  <%= link_to t('go_to_pad_link'), '/p/'+@pad.name %>
<% else %>
  <%= link_to t('go_to_pad_link'), group_pad_path(@pad.group.name, @pad.name) %>
<% end %>
|
<%= link_to t('back_to_padlist'), group_pads_path(@pad.group) %>
