<h3><%= t('home') %></h3>
<div class="row">
  <div class="span6">
    <div class="hero-unit">
      <h4><%= t('create_pad') %></h4>
      <%= simple_form_for([@group, @pad]) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.button :submit %>
    <% end %>
    </div>
  </div>
  <div class="span6">
    <div class="hero-unit">
      <h4><%= t('create_group') %></h4>
      <%= link_to t('create_group'), new_group_path, class: 'btn' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h4><%= t('recent_edits') %></h4>
    <%= render partial: 'pads/padlist' %>
  </div>
</div>
